{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Tasks{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/>
                {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Tasks</h1>
                {% if current_user.is_admin %}
                </br>       
                <div style="text-align: center">
                    <a href="{{ url_for('task.add_task') }}" class="btn btn-default btn-lg">
                        <i class="fa fa-plus"></i> Add Task
                    </a>        
                </div>
                {% endif%}
                {% if tasks %}
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="10%"> Name</th>
                            <th width="30%"> Description</th>
                            <th width="10%"> Status</th>
                            <th width="10%"> Performer</th>
                            <th width="10%"> Project</th>  
                            <th width="10%"> Created</th>
                            <th width="10%"> Last update</th>
                            <th width="5%"> Edit</th>
                            <th width="5%"> Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td> {{ task.name }}</td>
                            <td> {{ task.description }}</td>
                            <td> {{ task.status }}</td>
                            {% if task.performer %}
                                <td> {{ task.performer.username }}</td>
                            {% else %}
                                <td> Unsetted </td>
                            {% endif %}
                            <td> {{ task.project.short_name }}</td>
                            <td> {{ task.create_date.strftime('%Y-%m-%d') }}</td>
                            <td> {{ task.update_date.strftime('%Y-%m-%d') }}</td>
                            {% if current_user.is_admin %}
                            <td>
                                <a href="{{ url_for('task.edit_task', id=task.id) }}">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('task.delete_task', id=task.id) }}">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center">
                    {% else %}
                    <div style="text-align: center">
                        <br/>
                        <h3> No tasks have been added. </h3>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}