{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Task Info{% endblock %}

{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <br/>
                    {{ utils.flashed_messages() }}
                    <br/>
                    <h1 style="text-align:center;">{{ task.name }} info</h1>
                    <hr class="intro-divider">
                    <br>
                    <div style="text-align: center">
                        <a href="{{ url_for('task.update_task_status', id=task.pk, status=1) }}"
                           class="btn btn-default btn-lg">
                            Not started
                        </a>
                        <a href="{{ url_for('task.update_task_status', id=task.pk, status=2) }}"
                           class="btn btn-default btn-lg">
                            On work
                        </a>
                        <a href="{{ url_for('task.update_task_status', id=task.pk, status=3) }}"
                           class="btn btn-default btn-lg">
                            Ended
                        </a>
                        {% if current_user.is_admin %}
                            <a href="{{ url_for('task.edit_task', id=task.pk) }}" class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i> Edit
                            </a>
                        {% endif %}
                    </div>
                    <div class="center">
                        <div class="container body-content">
                            <dl class="dl-horizontal">
                                <dt>
                                    <label>Description: </label>
                                </dt>
                                <dd>
                                    {{ task.description }}
                                </dd>
                                <dt>
                                    <label>Status: </label>
                                </dt>
                                <dd>
                                    {% if statuses and statuses|length >= task.status - 1 %}
                                        {{ statuses[task.status - 1][1] }}
                                    {% else %}
                                        Internal Error
                                    {% endif %}
                                </dd>
                                <dt>
                                    <label>Start Date: </label>
                                </dt>
                                <dd>
                                    {% if task.start_date %}
                                        {{ task.start_date.strftime('%Y-%m-%d') }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>
                                <dt>
                                    <label>End Date: </label>
                                </dt>
                                <dd>
                                    {% if task.end_date %}
                                        {{ task.end_date.strftime('%Y-%m-%d') }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>
                                <dt>
                                    <label>Created: </label>
                                </dt>
                                <dd>
                                    {% if task.create_date %}
                                        {{ task.create_date.strftime('%Y-%m-%d') }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>
                                <dt>
                                    <label>Last update: </label>
                                </dt>
                                <dd>
                                    {% if task.update_date %}
                                        {{ task.update_date.strftime('%Y-%m-%d') }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>
                                {% if task.project %}
                                    <dt>
                                        <label>Project: </label>
                                    </dt>
                                    <dd>
                                        <a href="{{ url_for('project.get_project', id=task.project.id) }}">
                                            {{ task.project.name }}
                                        </a>
                                    </dd>
                                {% endif %}
                                {% if task.performer %}
                                    <dt>
                                        <label>Performer: </label>
                                    </dt>
                                    <dd>
                                        {% if current_user.is_admin %}
                                            <a href="{{ url_for('user.get_user', id=task.performer.id) }}">
                                                {{ task.performer.username }}
                                            </a>
                                        {% else %}
                                            {{ task.performer.username }}
                                        {% endif %}
                                    </dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}